// Import font
@import url('https://fonts.googleapis.com/css2?family=Antic&display=swap');

*{
    font-family: 'Antic', sans-serif;
}

h1{
    justify-content: center;
    text-align: center;
    padding-top: 1rem;
    color: #ff4912;
}